* {
  font-family: "Inter", sans-serif;
  margin-block: 0;
  padding-inline: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #FFF;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  line-height: 45px;
  text-transform: none;
  letter-spacing: -0.03em;
  font-weight: 800;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
    text-transform: none;
    letter-spacing: -0.02em;
    font-weight: 800;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
  text-transform: none;
  letter-spacing: -0.02em;
  font-weight: 800;
}
@media (max-width: 768px) {
  h2 {
    font-size: 22px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: -0.005em;
    font-weight: 700;
  }
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

span.accent {
  color: #919191;
}

main {
  flex: 1;
  overflow-x: hidden;
}

@media only screen and (min-width: 769px) {
  .desktop-disable {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-disable {
    display: none;
  }
}

.additional_content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media only screen and (max-width: 768px) {
  .additional_content {
    gap: 60px;
  }
}
main + .additional_content {
  margin-top: 60px;
}
@media only screen and (max-width: 768px) {
  main + .additional_content {
    margin-top: 30px;
  }
}
main + .additional_content::before {
  display: none;
}
.additional_content > *:nth-of-type(2) {
  margin-top: -240px;
}
@media (max-width: 768px) {
  .additional_content > *:nth-of-type(2) {
    margin-top: -60px;
  }
}

.banner {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .banner_content {
  padding-top: 180px;
  padding-bottom: 180px;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
@media only screen and (min-width: 1191px) {
  .banner .banner_content {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  .banner .banner_content {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .banner .banner_content {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
.banner .banner_content .brands_layout {
  overflow: hidden;
  width: 100%;
}
@media (max-width: 768px) {
  .banner .banner_content .brands_layout {
    position: absolute;
    bottom: -100px;
    max-width: calc(100% + 15px);
    width: calc(100% + 15px);
  }
}
.banner .banner_content .brands_layout .brands_content {
  margin-top: 90px !important;
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  border-radius: 15px;
  cursor: grab;
}
.banner .banner_content .brands_layout .brands_content::-webkit-scrollbar {
  display: none;
}
@media (min-width: 769px) {
  .banner .banner_content .brands_layout .brands_content a {
    min-width: 155px;
  }
  .banner .banner_content .brands_layout .brands_content a .brand_info {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .banner .banner_content .brands_layout .brands_content {
    gap: 5px;
    margin-top: 0 !important;
    border-radius: 0;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
  }
}
.banner .banner_content .brands_layout .brands_content:has(> :nth-child(5)) {
  justify-content: start;
}
@media (max-width: 768px) {
  .banner .banner_content .brands_layout .brands_content {
    justify-content: start;
  }
}
.banner .banner_content .brands_layout .brands_content a {
  display: flex;
  border: none;
  flex: 1;
  max-width: 250px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  max-height: 40px;
  padding: 15px;
  transition: ease-in-out 0.3s;
}
.banner .banner_content .brands_layout .brands_content a:active {
  cursor: grab;
}
@media (max-width: 768px) {
  .banner .banner_content .brands_layout .brands_content a {
    background-color: #F7F7F7;
  }
}
.banner .banner_content .brands_layout .brands_content a:hover {
  background-color: #FFF;
}
.banner .banner_content .brands_layout .brands_content a .brand_info {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.banner .banner_content .brands_layout .brands_content a .brand_info .brand_name {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.banner .banner_content .brands_layout .brands_content a .brand_info .brand_count {
  white-space: nowrap;
  color: #595959;
  font-weight: 400;
  font-size: 12px;
}
.banner .banner_content .brands_layout .brands_content a .brand_image img {
  height: 40px;
  width: 40px;
}
@media (max-width: 768px) {
  .banner .banner_content .brands_layout .brands_content a {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    max-height: 90px;
    flex-direction: column;
  }
  .banner .banner_content .brands_layout .brands_content a .brand_image {
    display: flex;
    justify-content: end;
  }
  .banner .banner_content .brands_layout .brands_content a .brand_image img {
    height: 30px;
    width: 30px;
  }
}
