* {
  font-family: "Inter", sans-serif;
  margin-block: 0;
  padding-inline: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #FFF;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  line-height: 45px;
  text-transform: none;
  letter-spacing: -0.03em;
  font-weight: 800;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
    text-transform: none;
    letter-spacing: -0.02em;
    font-weight: 800;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
  text-transform: none;
  letter-spacing: -0.02em;
  font-weight: 800;
}
@media (max-width: 768px) {
  h2 {
    font-size: 22px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: -0.005em;
    font-weight: 700;
  }
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

span.accent {
  color: #919191;
}

main {
  flex: 1;
}
@media (max-width: 768px) {
  main {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 769px) {
  .desktop-disable {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-disable {
    display: none;
  }
}

.additional_content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media only screen and (max-width: 768px) {
  .additional_content {
    gap: 60px;
  }
}
main + .additional_content {
  margin-top: 60px;
}
@media only screen and (max-width: 768px) {
  main + .additional_content {
    margin-top: 30px;
  }
}
main + .additional_content::before {
  display: none;
}
.additional_content > *:nth-of-type(2) {
  margin-top: -240px;
}
@media (max-width: 768px) {
  .additional_content > *:nth-of-type(2) {
    margin-top: -60px;
  }
}

.text_content {
  width: 100%;
}
@media only screen and (min-width: 1191px) {
  .text_content {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  .text_content {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .text_content {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 100%;
  background: #F7F7F7;
}
@media (min-width: 769px) {
  header {
    margin-bottom: 30px !important;
  }
}
header.home {
  position: absolute;
  z-index: 7;
  width: 100%;
}
@media (min-width: 769px) {
  header.home {
    background: transparent;
  }
}
header .header_content-logo {
  height: 30px;
}
header .header_content-logo img {
  max-height: 100%;
}
header .header_content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 1191px) {
  header .header_content {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  header .header_content {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  header .header_content {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
header .header_content .burger {
  display: none;
}
header .header_content .pages {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
}
@media (min-width: 769px) {
  header .header_content .pages {
    padding-inline-end: 300px !important;
  }
}
@media (min-width: 769px) {
  header .header_content .pages:first-child {
    width: 100%;
    justify-content: center;
    margin-inline-start: auto;
  }
}
header .header_content .pages .brand_list {
  display: flex;
  align-items: center;
  font-weight: 500 !important;
}
header .header_content .pages > div.brand_item, header .header_content .pages > a {
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
  padding: 12.5px 15px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  header .header_content .pages > div.brand_item, header .header_content .pages > a {
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 700;
  }
}
header .header_content .pages > div.brand_item:hover, header .header_content .pages > a:hover {
  background: rgba(0, 0, 0, 0.0509803922);
}
header .header_content .pages .brand_item {
  position: relative;
}
header .header_content .pages .brand_item.real_brand {
  position: inherit;
}
header .header_content .pages .brand_item.open > a {
  background: rgba(0, 0, 0, 0.0509803922);
}
header .header_content .pages .brand_item a, header .header_content .pages .brand_item p {
  display: flex;
  align-items: center;
}
header .header_content .pages .brand_item a svg path, header .header_content .pages .brand_item p svg path {
  fill: var(--main-color);
}
header .header_content .pages .brand_item:hover .brand_items {
  opacity: 1;
}
@media (max-width: 768px) {
  header .header_content .pages .brand_item.open .brand_items {
    display: flex;
    opacity: 1 !important;
  }
  header .header_content .pages .brand_item.open svg {
    rotate: 180deg;
  }
}
header .header_content .pages .brand_item .brand_items {
  position: absolute;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 100%;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.0588235294);
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
}
header .header_content .pages .brand_item .brand_items.real_brands {
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  margin: 0 !important;
  width: calc(100% - 60px);
  top: 50px;
}
@media only screen and (min-width: 1191px) {
  header .header_content .pages .brand_item .brand_items.real_brands {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  header .header_content .pages .brand_item .brand_items.real_brands {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  header .header_content .pages .brand_item .brand_items.real_brands {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1000px) {
  header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag {
    grid-template-columns: repeat(3, 1fr);
  }
}
header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag a {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
}
header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag a span:not(.cars_count) {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
}
@media (max-width: 768px) {
  header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag a span:not(.cars_count) {
    font-size: 16px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 600;
  }
}
header .header_content .pages .brand_item .brand_items.real_brands .brand_items_tag a span.cars_count {
  color: #595959;
  margin-inline-start: auto;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
header .header_content .pages .brand_item .brand_items .brand_items_tag {
  padding: 5px;
}
header .header_content .pages .brand_item .brand_items .brand_items_tag a {
  min-width: 170px;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
}
header .header_content .pages .brand_item .brand_items .brand_items_tag a:hover {
  background: rgba(0, 0, 0, 0.0509803922);
}
header .header_content .pages .brand_item .brand_items .brand_items_tag a span {
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
}
header .header_content .end_section {
  display: flex;
  position: relative;
  align-items: center;
  inset-inline-end: 0;
  gap: 15px;
}
@media (min-width: 769px) {
  header .header_content .end_section {
    margin-inline-start: auto;
    position: absolute;
  }
}
@media (max-width: 768px) {
  header .header_content .end_section {
    position: relative;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  header .header_content .end_section .profile {
    inset-inline-end: 15px;
    top: 15px;
    position: fixed;
  }
}
header .header_content .end_section .param {
  align-items: center;
  padding-right: 5px;
  padding-left: 15px;
  min-height: 50px;
  display: flex;
}
header .header_content .end_section .param .title {
  display: none;
}
header .header_content .end_section .param .params_header svg:not(.globe) path {
  fill: var(--main-color);
}
header .header_content .end_section .param:hover .param_items {
  display: flex;
  position: absolute;
  top: 100%;
}
header .header_content .end_section .param .param_items {
  display: none;
  background-color: #F7F7F7;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.0588235294), 0px 2px 3px 0px rgba(0, 0, 0, 0.0588235294);
  inset-inline-end: 0;
  border-radius: 15px;
  padding: 10px;
  flex-direction: column;
}
header .header_content .end_section .param .param_items .currencies {
  display: flex;
  flex: 1;
}
@media (max-width: 768px) {
  header .header_content .end_section .param .param_items .currencies {
    flex-direction: row;
  }
}
header .header_content .end_section .param .param_items .currencies span {
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  text-align: center;
}
header .header_content .end_section .param .param_items .currencies span.current {
  color: #E6E6E6;
}
header .header_content .end_section .param .param_items .currencies span:not(.current) {
  cursor: pointer;
}
header .header_content .end_section .param .param_items .currencies span:not(.current):hover {
  background: rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
}
header .header_content .end_section .param .param_items hr {
  width: 100%;
  border-top: 1px solid #E6E6E6;
  margin: 10px 0;
}
header .header_content .end_section .param .param_items .languages {
  display: flex;
  flex-direction: column;
}
header .header_content .end_section .param .param_items .languages a {
  flex: 1;
}
header .header_content .end_section .param .param_items .languages span {
  display: flex;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
  flex: 1;
  padding: 10px;
  width: 170px;
}
header .header_content .end_section .param .param_items .languages span.current {
  color: #919191;
}
header .header_content .end_section .param .param_items .languages span:not(.current) {
  cursor: pointer;
}
header .header_content .end_section .param .param_items .languages span:not(.current):hover {
  background: rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
}
header .header_content .end_section .login-btn {
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  header .header_content .end_section .login-btn {
    width: unset;
    flex: 1;
    text-align: center;
    background: #E6E6E6;
  }
  header .header_content .end_section .login-btn:hover {
    background: #C9C9C9 !important;
  }
}
header .header_content .end_section .login-btn:hover {
  background-color: rgba(0, 0, 0, 0.0509803922) !important;
}
@media (max-width: 768px) {
  header {
    position: fixed !important;
    background-color: #F7F7F7;
    height: 60px;
  }
  header .header_content {
    margin: 0;
    max-width: 100%;
  }
  header .header_content .burger {
    display: block;
    margin-inline-start: 5px;
  }
  header .header_content .burger .open {
    height: 50px;
    display: none;
  }
  header .header_content .burger .open.active {
    display: block;
  }
  header .header_content .burger .close {
    height: 50px;
    display: none;
  }
  header .header_content .burger .close.active {
    display: block;
  }
  header .header_content .header_content-logo {
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }
  header .header_content .header_content-logo img {
    height: 24px;
  }
  header .header_content .pages {
    position: fixed;
    display: none;
    top: 60px;
    background-color: #F7F7F7;
    padding-inline-end: 0;
    justify-content: flex-start;
    flex-flow: column nowrap;
    width: -webkit-fill-available;
    padding: 30px 20px;
    height: calc(100% - 120px);
    overflow-y: auto;
    scrollbar-width: none;
  }
  header .header_content .pages.active {
    display: flex;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  header .header_content .pages.active {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  header .header_content .pages .brand_item > p {
    font-weight: 500 !important;
    font-size: 20px !important;
  }
  header .header_content .pages > a, header .header_content .pages .brand_item > p, header .header_content .pages .brand_item > a, header .header_content .pages .param .params_header {
    justify-content: space-between;
    padding: 15px 20px;
    padding-inline-end: 5px;
    border-radius: 15px;
  }
  header .header_content .pages > a:hover, header .header_content .pages .brand_item > p:hover, header .header_content .pages .brand_item > a:hover, header .header_content .pages .param .params_header:hover {
    background-color: rgba(0, 0, 0, 0.0509803922) !important;
  }
  header .header_content .pages > a:hover svg, header .header_content .pages .brand_item > p:hover svg, header .header_content .pages .brand_item > a:hover svg, header .header_content .pages .param .params_header:hover svg {
    rotate: 180deg;
  }
  header .header_content .pages .brand_item, header .header_content .pages .real_brand {
    position: relative !important;
    flex-direction: column;
    padding: 0 !important;
  }
  header .header_content .pages .brand_item .brand_list, header .header_content .pages .real_brand .brand_list {
    pointer-events: none;
  }
  header .header_content .pages .brand_item:hover, header .header_content .pages .real_brand:hover {
    display: flex;
    position: unset;
    background-color: unset !important;
  }
  header .header_content .pages .brand_item .brand_items:not(.real_brands), header .header_content .pages .real_brand .brand_items:not(.real_brands) {
    padding: 5px !important;
  }
  header .header_content .pages .brand_item .brand_items:not(.real_brands) a, header .header_content .pages .real_brand .brand_items:not(.real_brands) a {
    padding-inline-start: 25px !important;
  }
  header .header_content .pages .brand_item .brand_items, header .header_content .pages .brand_item .real_brands, header .header_content .pages .real_brand .brand_items, header .header_content .pages .real_brand .real_brands {
    position: unset;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    background-color: unset;
    box-shadow: none;
    border-radius: 0 !important;
  }
  header .header_content .pages .brand_item .brand_items .brand_items_tag, header .header_content .pages .brand_item .real_brands .brand_items_tag, header .header_content .pages .real_brand .brand_items .brand_items_tag, header .header_content .pages .real_brand .real_brands .brand_items_tag {
    display: flex !important;
    flex-direction: column;
    flex: 1;
    margin-top: 15px;
  }
  header .header_content .pages .brand_item .brand_items .brand_items_tag a, header .header_content .pages .brand_item .real_brands .brand_items_tag a, header .header_content .pages .real_brand .brand_items .brand_items_tag a, header .header_content .pages .real_brand .real_brands .brand_items_tag a {
    width: -webkit-fill-available;
    padding: 0 5px;
    height: 50px;
    gap: 20px !important;
  }
  header .header_content .pages .brand_item .brand_items .brand_items_tag a span, header .header_content .pages .brand_item .real_brands .brand_items_tag a span, header .header_content .pages .real_brand .brand_items .brand_items_tag a span, header .header_content .pages .real_brand .real_brands .brand_items_tag a span {
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 600;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  header .header_content .pages .brand_item .brand_items .brand_items_tag a span, header .header_content .pages .brand_item .real_brands .brand_items_tag a span, header .header_content .pages .real_brand .brand_items .brand_items_tag a span, header .header_content .pages .real_brand .real_brands .brand_items_tag a span {
    font-size: 16px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  header .header_content .pages .brand_item .brand_items .brand_items_tag a span.cars_count, header .header_content .pages .brand_item .real_brands .brand_items_tag a span.cars_count, header .header_content .pages .real_brand .brand_items .brand_items_tag a span.cars_count, header .header_content .pages .real_brand .real_brands .brand_items_tag a span.cars_count {
    margin-inline-start: auto;
  }
  header .header_content .pages.active {
    display: flex;
  }
  header .header_content .pages .param {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  header .header_content .pages .param .params_header {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
  }
  header .header_content .pages .param .params_header svg path {
    fill: var(--main-color);
  }
  header .header_content .pages .param .params_header .globe {
    display: none;
  }
  header .header_content .pages .param .title {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 700;
  }
  header .header_content .pages .param .param_items {
    box-shadow: unset;
    width: -webkit-fill-available;
    padding: 5px;
  }
  header .header_content .pages .param .param_items .currencies {
    display: flex;
  }
  header .header_content .pages .param .param_items .currencies span {
    text-align: center;
    padding-inline-start: 25px;
  }
  header .header_content .pages .param .param_items hr {
    margin: 12px 0;
  }
  header .header_content .pages .param .param_items .languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  header .header_content .pages .param .param_items .languages .current {
    width: unset;
  }
  header .header_content .pages .param .param_items .languages span {
    padding: 10px;
    padding-inline-start: 25px;
    width: -webkit-fill-available;
    justify-content: center;
  }
}

*:has(+ footer) {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

footer {
  padding: 0;
  background: #F7F7F7;
  padding-top: 30px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  footer {
    padding-top: 15px;
    margin-top: 15px;
  }
}
footer .footer_content {
  width: 100%;
  display: flex;
  flex-flow: column;
}
@media only screen and (min-width: 1191px) {
  footer .footer_content {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  footer .footer_content {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer_content {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
footer .footer_content > div:not(:last-child) {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  footer .footer_content > div:not(:last-child) {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
}
footer .footer_content .footer_content_top {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
footer .footer_content .footer_content_top .footer_content_item {
  max-width: 50%;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  footer .footer_content .footer_content_top .footer_content_item .footer-block_items {
    flex-flow: column;
    gap: 14px 0px;
  }
}
footer .footer_content .footer_dropdown + .footer_dropdown {
  border-top: 1px solid #F7F7F7 !important;
}
footer .footer_content .footer_dropdown .dropdown_title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
footer .footer_content .footer_dropdown .dropdown_title p {
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_dropdown .dropdown_title p {
    font-size: 16px;
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 600;
  }
}
footer .footer_content .footer_dropdown .dropdown_title svg {
  transform: rotate(180deg);
}
footer .footer_content .footer_dropdown .dropdown_title svg path {
  fill: var(--main-color);
}
footer .footer_content .footer_dropdown .dropdown_content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_dropdown .dropdown_content {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
footer .footer_content .footer_dropdown .dropdown_content .footer-link {
  font-family: "Inter";
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
footer .footer_content .footer_dropdown .dropdown_content .footer-link:hover {
  color: var(--main-color);
}
footer .footer_content .footer_dropdown.close .dropdown_title svg {
  transform: rotate(0deg);
}
footer .footer_content .footer_dropdown.close .dropdown_content {
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  margin: 0;
}
footer .footer_content .footer_prebottom_links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px 60px;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_prebottom_links {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  footer .footer_content .footer_prebottom_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer_content .footer_prebottom_links .block:nth-child(n+4) {
    margin-top: 15px;
  }
  footer .footer_content .footer_prebottom_links .block.partner_block {
    grid-column: span 2;
  }
  footer .footer_content .footer_prebottom_links .block_title {
    margin-bottom: 15px;
  }
}
footer .footer_content .footer_prebottom_links:before {
  content: "";
  max-width: 100%;
  height: 1px;
  background-color: #F7F7F7;
  width: 100vw;
  position: absolute;
  inset-inline-start: 0;
  margin-top: -60px;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_prebottom_links:before {
    margin-top: -30px;
  }
}
footer .footer_content .footer_prebottom_links .block {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline-end: auto;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_prebottom_links .block {
    margin-inline-end: 0;
  }
}
footer .footer_content .footer_prebottom_links .block .current-lng {
  color: #F7F7F7;
}
footer .footer_content .footer_prebottom_links .block .lang_active {
  cursor: pointer;
}
footer .footer_content .footer_prebottom_links .block a:hover {
  color: var(--main-color);
}
footer .footer_content .footer_prebottom_links .block a, footer .footer_content .footer_prebottom_links .block span {
  font-family: "Inter";
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
footer .footer_content .footer_prebottom_links .block a:not(.current), footer .footer_content .footer_prebottom_links .block span:not(.current) {
  cursor: pointer;
}
footer .footer_content .footer_prebottom_links .block a.current, footer .footer_content .footer_prebottom_links .block span.current {
  color: #C9C9C9;
}
footer .footer_content .footer_prebottom_links .block .partner_link {
  display: inline-block;
}
footer .footer_content .footer_prebottom_links .block .partner_link .partner_logo {
  padding: 5px 12px 0 12px;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer_content .footer_prebottom_links .block .partner_link .partner_logo img {
  max-width: 170px;
  max-height: 35px;
}
footer .footer_content .footer_prebottom_links .block .partner_description {
  font-size: 12px;
  max-width: 170px;
  color: #8C8B98;
  font-weight: 400;
  margin-top: 20px;
  line-height: 20px;
}
footer .footer_content .footer_prebottom_links .block .partners_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_prebottom_links .block .partners_content {
    gap: 0;
  }
}
footer .footer_content .footer_content_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_content_bottom {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
}
footer .footer_content .footer_content_bottom a, footer .footer_content .footer_content_bottom div {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8C8B98;
}
footer .footer_content .footer_content_item p,
footer .footer_content .footer_content_item h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8c98ab;
  margin: 0px;
}
footer .footer_content .footer_content_item div {
  display: flex;
  gap: 0px 10px;
  flex-wrap: wrap;
}
footer .footer_content .footer_content_item div a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}
footer .footer_content .footer-block_items {
  display: flex;
  gap: 0px 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  footer .footer_content .footer-block_items {
    flex-flow: row;
    gap: 14px 0px !important;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer_content .footer-block_items {
    justify-content: space-between;
  }
}
footer .footer_content .footer-block_items a, footer .footer_content .footer-block_items span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}
@media only screen and (max-width: 900px) {
  footer .footer_content .footer-block_items div {
    max-width: 50%;
    width: 100%;
  }
}
footer .footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 20px;
  gap: 0px 20px;
}
footer .footer_content .terms_privacy {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .terms_privacy {
    width: 100%;
    justify-content: flex-start;
  }
}
footer .footer_content .footer_content_payment {
  display: flex;
  gap: 0px 5px;
}
footer .footer_content .footer_content_payment img {
  height: 40px;
  width: 60px;
  outline: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FFF;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .footer_content_payment {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 320px) {
  footer .footer_content .footer_content_payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  footer .footer_content .footer_content_payment img {
    align-self: center;
    justify-self: center;
  }
}
footer .footer_content .block_title {
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
  margin-bottom: 30px;
  color: black;
}
@media only screen and (max-width: 768px) {
  footer .footer_content .block_title.partner_title {
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 600;
  }
}
footer .footer-bottom {
  max-width: calc(50% - 127.5px);
}
footer .footer-bottom .bottom-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
  color: #F7F7F7;
}
@media only screen and (max-width: 768px) {
  footer .footer-bottom {
    max-width: 100%;
    width: 100%;
  }
}
footer .grid-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 0 30px;
}
@media only screen and (max-width: 768px) {
  footer .grid-container {
    grid-template-rows: unset;
    gap: 0;
    grid-auto-flow: unset;
  }
}

.login_container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
  width: 100%;
}
@media only screen and (min-width: 1191px) {
  .login_container {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  .login_container {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .login_container {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .login_container {
    margin-top: 60px !important;
    gap: 15px;
    flex-direction: column;
  }
}
.login_container h1 {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  text-transform: none;
  letter-spacing: -0.02em;
  font-weight: 800;
}
.login_container .orders_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 768px) {
  .login_container .orders_info {
    order: 2;
  }
}
.login_container .orders_info .orders_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 580px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .login_container .orders_info .orders_list {
    gap: 30px;
    max-height: 780px;
  }
}
.login_container .orders_info .orders_list .order_item {
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .login_container .orders_info .orders_list .order_item {
    flex-direction: column;
    border: 1px solid #595959;
    border-radius: 10px;
  }
}
.login_container .orders_info .orders_list .order_item .oder_img {
  position: relative;
  height: 150px;
  width: auto;
  aspect-ratio: 3/2;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 10px;
  border: 5px solid #E6E6E6;
}
@media (max-width: 768px) {
  .login_container .orders_info .orders_list .order_item .oder_img {
    height: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
}
.login_container .orders_info .orders_list .order_item .oder_img .order-status-label {
  margin-top: 5px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  background: #888;
  z-index: 2;
  display: block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
@media (max-width: 768px) {
  .login_container .orders_info .orders_list .order_item .oder_img .order-status-label {
    margin-top: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    line-height: 40px !important;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
  }
}
.login_container .orders_info .orders_list .order_item .oder_img .label-waiting {
  background: #f0ad4e;
}
.login_container .orders_info .orders_list .order_item .oder_img .label-process {
  background: #5bc0de;
}
.login_container .orders_info .orders_list .order_item .oder_img .label-done {
  background: #5cb85c;
}
.login_container .orders_info .orders_list .order_item .oder_img .label-cancelled {
  background: #F2413B;
}
.login_container .orders_info .orders_list .order_item .order_item_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 768px) {
  .login_container .orders_info .orders_list .order_item .order_item_info {
    margin: 10px;
  }
}
.login_container .orders_info .orders_list .order_item .order_item_info .order_name {
  color: #181818;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 700;
}
.login_container .orders_info button {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  background: #F7F7F7;
  color: #181818;
  border: 1px solid #181818;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
}
.login_container .orders_info button svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 10px;
}
.login_container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 20px;
  border-radius: 25px;
  background: #F7F7F7;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 768px) {
  .login_container form {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
}
.login_container form .form_logo {
  width: 100px;
}
.login_container form input {
  padding: 10px;
  border-radius: 15px;
  background: #E6E6E6;
  width: -webkit-fill-available;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
.login_container form .button_submit {
  background: #E6E6E6;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
}
.login_container form .profile_link {
  background: #E6E6E6;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 400;
}
.login_container form .avatar-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.login_container form .avatar-upload .avatar-img {
  border: 1px solid black;
}
.login_container form .avatar-upload #remove-avatar-btn {
  background: #F2413B;
  color: #F7F7F7;
  padding: 10px;
  border-radius: 10px;
}
.login_container form .avatar-upload #remove-avatar-btn.disabled {
  display: none;
}
.login_container .error_message {
  color: #B61A20;
}
.login_container .success_message {
  color: #1E5D25;
}

.logout {
  width: 100%;
}
@media only screen and (min-width: 1191px) {
  .logout {
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1190px) {
  .logout {
    max-width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .logout {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .logout {
    margin-top: 15px;
  }
}
.logout button {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  background: #F7F7F7;
  color: #F2413B;
  border: 1px solid #F2413B;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0em;
  font-weight: 600;
}
