@use "includes/variables-mixins" as *;
@import "includes/defaults";
@import "includes/header";
@import "includes/card_light";
@import "includes/lists";
@import "includes/faq";

.banner {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;

    .banner_content {
        padding-top: 180px;
        padding-bottom: 80px;
        color: #FFF;
        //max-width: 500px !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include max-width();
        .brands_layout {
            overflow: hidden;
            width: 100%;

            @media (max-width: $mobile-max-width) {
                //position: absolute;
                //bottom: -100px;
                max-width: calc(100% + $mobile-left-right-margin);
                width: calc(100% + $mobile-left-right-margin);
            }

            .brands_content {
                display: flex;
                justify-content: center;
                gap: 10px;
                overflow-x: scroll;
                scrollbar-width: none;
                border-radius: 15px;
                cursor: grab;

                &::-webkit-scrollbar {
                    display: none;
                }

                @media (min-width: $desktop-min-width) {
                    a {
                        min-width: 155px;

                        .brand_info {
                            margin-right: 20px;
                        }
                    }
                }
                @media (max-width: $mobile-max-width) {
                    gap: 5px;
                    margin-top: 0 !important;
                    border-radius: 0;
                    border-top-left-radius: 15px !important;
                    border-bottom-left-radius: 15px !important;
                }

                &:has(> :nth-child(5)) {
                    justify-content: start;

                }

                @media (max-width: $mobile-max-width) {
                    justify-content: start;
                }

                a {
                    &:active {
                        cursor: grab;
                    }

                    display: flex;
                    border: none;
                    flex: 1;
                    max-width: 250px;
                    justify-content: space-between;
                    background-color: #FFFFFFCC;
                    border-radius: 15px;
                    max-height: 40px;
                    padding: 15px;
                    transition: ease-in-out 0.3s;
                    @media (max-width: $mobile-max-width) {
                        background-color: $neutral100;
                    }

                    &:hover {
                        background-color: #FFF;
                    }

                    .brand_info {
                        display: flex;
                        align-items: start;
                        flex-direction: column;

                        .brand_name {
                            white-space: nowrap;
                            font-size: 14px;
                            font-weight: 500;
                            color: black;
                        }

                        .brand_count {
                            white-space: nowrap;
                            color: $neutral500;
                            font-weight: 400;
                            font-size: 12px;
                        }

                    }

                    .brand_image {
                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }

                    @media (max-width: $mobile-max-width) {
                        & {
                            min-width: 100px;
                            padding: 10px;
                            border-radius: 10px;
                            max-height: 90px;
                            flex-direction: column;

                            .brand_image {
                                display: flex;
                                justify-content: end;

                                img {
                                    height: 30px;
                                    width: 30px;
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}

.types_layout_overflow {
    position: relative;
    z-index: 6;
    //transform: translateY(50%);
    overflow: auto;
    padding: 15px 0;
    @media only screen and (max-width: $mobile-max-width) {
        scrollbar-width: none;
        //transform: translateY(calc(100% - 15px));
    }

    .types_layout {
        //padding: 15px 0;
        //overflow-x: auto;
        min-width: fit-content;
        background: #0000001A;
        //box-shadow: 10px 0 0 -10px #0000001A,  /* Тінь справа */
        //-10px 0 0 -10px #0000001A;
        box-shadow: 0px 0px 0px 15px #0000001A;
        //box-shadow: 0px 0px 0px 15px #0000001A;

        border-radius: 15px;
        @media only screen and (max-width: $mobile-max-width) {
            border-radius: 10px;
            box-shadow: 0px 0px 0px 10px #0000001A;
        }


        .types_content {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            @media only screen and (max-width: $mobile-max-width) {
                width: calc(100% + 10px);
                gap: 10px;
            }
            //padding: 15px 0;
            //margin-top: -15px !important;
            //margin-bottom: -15px !important;
            a {
                flex: 1;
                max-width: 180px;
                display: flex;
                flex-direction: column;
                background: $neutral800;
                color: #FFF;
                position: relative;
                border-radius: 15px;
                padding: 10px 15px 80px 15px;
                @include title-l();
                overflow: hidden;
                min-width: 135px;
                transition: all 0.3s ease-in-out;
                @media only screen and (max-width: $mobile-max-width) {
                    @include title-m();
                    padding: 10px 10px 60px 10px;
                    min-width: 115px;
                    &:last-of-type {
                        position: relative;
                        inset-inline-end: 10px;
                        margin-inline-start: 10px;
                    }
                    p {
                        max-height: 30px;
                        overflow: visible !important;
                    }
                }

                p, img {
                    position: relative;
                    z-index: 10;
                    overflow: hidden;
                    @include title-l();
                    @media only screen and (max-width: $mobile-max-width) {
                        @include title-m();
                    }
                }


                &:hover {
                    &::before {
                        transform: translateX(0);
                    }

                    img {
                        opacity: 100%;
                        padding-inline-start: 0;
                    }

                    transition: all 0.3s ease-in-out;

                    box-shadow: 0px 10px 30px -10px var(--additional-color),
                    0px 5px 10px 0px var(--main-color);

                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: $default-gradient;
                    transform: translateX(-100%);
                    transition: transform 0.3s ease-in-out;
                }


                img {
                    width: 160px;
                    height: 80px;
                    position: absolute;
                    bottom: 0;
                    padding-inline-start: 35px;
                    opacity: 25%;
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
                    transition: all 0.3s ease-in-out;
                    @media only screen and (max-width: $mobile-max-width) {
                        width: 120px;
                        height: 60px;
                    }
                }
            }
        }

    }
}
.cards_content{
    @include max-width
}
